body {
    margin: 0;
}

#header * {
    color: white;
}

#todo-list, #todo {
    margin-top: 55px;

    a {
        text-decoration: none;
    }
}

#todo > div {
    padding-bottom: 10px;
    width: 100%;
}